{% extends "base.html" %}

{% block site_nav %}{% endblock %}

{% block hero %}
  <style>
    .brand-banner{min-height:500px;padding:0 2rem;margin-top:-8px;color:#fff;font-size:18px;background:url(_src/brand-banner/background.jpg);position:relative;z-index:1}.brand-banner-content{max-width:1200px;margin:auto}@media only screen and (max-width:60em){.brand-banner-content{padding:2rem 0}}@media only screen and (min-width:60em){.brand-banner-content{padding-top:4rem;display:flex;justify-content:space-between}}.brand-banner h1{font-size:36px;margin:0;padding-top:20px;max-width:400px}.brand-banner p{padding:10px 0 20px 0;max-width:400px}.button-primary,.button-secondary{border-radius:3px;transition:all .3s;font-weight:700;margin:0 15px 15px 0;display:inline-block}.button-primary{color:#2d373c;background:#fff;padding:10px 25px}.button-primary:hover{background:#099;color:#fff}.button-secondary{border:3px solid;padding:7px 22px}.button-secondary:hover{color:#099}#brand-banner-poster,#brand-banner-video{max-width:100%;max-height:280px;cursor:pointer;border-radius:0;margin-top:25px;box-shadow:0 0 8px #000}.hidden{display:none}@media only screen and (min-width:60em){.md-main{margin:0 14rem 0 4rem}}@media only screen and (min-width:76.25em){.md-main{margin:0 14rem}}
  </style>
  <script>
    function playBrandBannerVideo() {
      document.querySelector('#brand-banner-poster').style.display = 'none';
      document.querySelector('#brand-banner-video').style.display = 'block';
      document.querySelector('#brand-banner-video').play();
    }
  </script>
  <section class="brand-banner">
    <div class="brand-banner-content">
      <div>
        <h1>
          Hallo!
        </h1>
        <p>
          Willkommen auf meiner Website. Ich werde euch hier Sachen über den Dschungel erzählen. Viel Spass!
        </p>
        <!-- <a class="button-primary" href="getting-started/quickstart/" title="Getting started">
          Get started
        </a>
        <a class="button-secondary" href="community/insights/" title="See Examples">
          See Examples
        </a> -->
      </div>
      <!-- <div>
        <img id="brand-banner-poster" src="_src/brand-banner/brand-poster.png" onClick="playBrandBannerVideo()">
        <video id="brand-banner-video" class="hidden" controls>
          <source src="_src/brand-banner/brand-video.mp4" type="video/mp4">
        </video>
      </div> -->
    </div>
  </section>
  <!-- Side-Nav Stub -->
  <div class="hidden" data-md-component="navigation"><nav><i></i><i></i></nav></div>
{% endblock %}
