.ep-card {
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.ep-chip {
  display: inline-block;
  margin: 5px 5px;
  padding: 0 5px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 25px;
  position: relative;
  float: right;
  color: white;
}

.ep-links {
  float: left;
}

.ep-tags {
  float: right;
  font-weight: bold;
  font-size: small;
}

.ep-clear {
    clear:both;
}

.ep-blue {
  background-color: #00BEDC;
}

.ep-green {
  background-color: #00D7A0;
}

.ep-red {
  background-color: #FE8389;
}

.ep-yellow {
  background-color: #FFD732;
}


